html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Space Mono', 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
    overflow-x: hidden;
}