.content {
    margin-top: 150px;
    overflow-x: hidden;

    &__container {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    &__first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    &__title {
        width: 445px;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        font-family: 'Space Mono';
        letter-spacing: -2.14286px;
        color: #495567;
    }

    &__text {
        width: 445px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        font-family: 'Lexend Deca';
        color: #939CAA;
    }

    &__btn {
        border: 2px solid #FCB72B;
        width: 180px;
        height: 50px;
        background: #FCB72B;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        font-family: 'Space Mono';
        text-align: center;
        color: #FFFFFF;
        transition: 40ms ease;
        cursor: pointer;

        &:active {
            transition: 40ms ease;
            background: #FFFFFF;
            color: #FCB72B;
            border: 2px solid #FCB72B;
        }
    }

    &__images {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 741px;
            height: 151px;
            top: 80px;
            left: 249px;
            background-image: url('../img/arrow__img.svg');
            display: inline-block;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &::before {
            top: 0;
            left: 500px;
            border-radius: 50%;
            content: "";
            position: absolute;
            width: 445px;
            height: 445px;
            display: inline-block;
            background: #E5ECF4;
            background-repeat: no-repeat;
        }
    }

    &__img {
        border-radius: 50%;
    }
}

// Responsive for Tablet
@media only screen and(max-width:768px) {
    .content {
        overflow-x: hidden;
        margin-top: 150px;

        &__container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            justify-content: center;
            align-content: center;
        }

        &__first {
            margin-top: 57px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }

        &__title {
            text-align: center;
            width: 457px;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 48px;
            font-family: 'Space Mono';
            letter-spacing: -2.14286px;
            color: #495567;
        }

        &__text {
            text-align: center;
            width: 573px;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            font-family: 'Lexend Deca';
            color: #939CAA;
        }

        &__btn {
            border: 2px solid #FCB72B;
            width: 180px;
            height: 50px;
            background: #FCB72B;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 25px;
            font-family: 'Space Mono';
            text-align: center;
            color: #FFFFFF;
            transition: 40ms ease;
            cursor: pointer;

            &:active {
                transition: 40ms ease;
                background: #FFFFFF;
                color: #FCB72B;
                border: 2px solid #FCB72B;
            }
        }

        &__images {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
                content: "";
                position: absolute;
                width: 741px;
                height: 151px;
                top: 80px;
                left: 315px;
                background-image: url('../img/arrow__img.svg');
                display: inline-block;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &::before {
                top: 0;
                left: 550px;
                border-radius: 50%;
                content: "";
                position: absolute;
                width: 445px;
                height: 445px;
                display: inline-block;
                background: #E5ECF4;
                background-repeat: no-repeat;
            }
        }

        &__img {
            border-radius: 50%;
        }
    }
}

// Responsive for IPhone XR
@media only screen and(max-width:414px) {
    .content {
        overflow-x: hidden;
        margin-top: 150px;

        &__container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            justify-content: center;
            align-content: center;
        }

        &__first {
            margin-top: 57px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }

        &__title {
            text-align: center;
            width: 311px;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 32px;
            font-family: 'Space Mono';
            letter-spacing: -1.42857px;
            color: #495567;
        }

        &__text {
            text-align: center;
            width: 311px;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            font-family: 'Lexend Deca';
            color: #939CAA;
        }

        &__btn {
            border: 2px solid #FCB72B;
            width: 180px;
            height: 50px;
            background: #FCB72B;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 25px;
            font-family: 'Space Mono';
            text-align: center;
            color: #FFFFFF;
            transition: 40ms ease;
            cursor: pointer;

            &:active {
                transition: 40ms ease;
                background: #FFFFFF;
                color: #FCB72B;
                border: 2px solid #FCB72B;
            }
        }

        &__images {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
                content: "";
                position: absolute;
                width: 741px;
                height: 151px;
                top: 0px;
                left: 95px;
                background-image: url('../img/arrow__img.svg');
                display: inline-block;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &::before {
                top: 0;
                left: 550px;
                border-radius: 50%;
                content: "";
                position: absolute;
                width: 445px;
                height: 445px;
                display: none;
                background: #E5ECF4;
                background-repeat: no-repeat;
            }
        }

        &__img {
            border-radius: 50%;
            width: 311px;
            height: 311px;
        }
    }
}

// Responsive for Mobile
@media only screen and(max-width:375px) {
    .content {
        overflow-x: hidden;
        margin-top: 150px;

        &__container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            justify-content: center;
            align-content: center;
        }

        &__first {
            margin-top: 57px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }

        &__title {
            text-align: center;
            width: 311px;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 32px;
            font-family: 'Space Mono';
            letter-spacing: -1.42857px;
            color: #495567;
        }

        &__text {
            text-align: center;
            width: 311px;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            font-family: 'Lexend Deca';
            color: #939CAA;
        }

        &__btn {
            border: 2px solid #FCB72B;
            width: 180px;
            height: 50px;
            background: #FCB72B;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 25px;
            font-family: 'Space Mono';
            text-align: center;
            color: #FFFFFF;
            transition: 40ms ease;
            cursor: pointer;

            &:active {
                transition: 40ms ease;
                background: #FFFFFF;
                color: #FCB72B;
                border: 2px solid #FCB72B;
            }
        }

        &__images {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
                content: "";
                position: absolute;
                width: 741px;
                height: 151px;
                top: 0px;
                left: 95px;
                background-image: url('../img/arrow__img.svg');
                display: inline-block;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &::before {
                top: 0;
                left: 550px;
                border-radius: 50%;
                content: "";
                position: absolute;
                width: 445px;
                height: 445px;
                display: none;
                background: #E5ECF4;
                background-repeat: no-repeat;
            }
        }

        &__img {
            border-radius: 50%;
            width: 311px;
            height: 311px;
        }
    }
}